:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /*Colors */

  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  /*par*/
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  /*bg*/
  --very-light-gray: hsl(0, 0%, 95%);

  /*Typography */

  --title-ffamily: "Big Shoulders Display", cursive;
  --main-ffamily: "Lexend Deca", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--very-light-gray);
  min-height: 100vh;
  font-family: var(--main-ffamily);
}
h1 {
  font-family: var(--title-ffamily);
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--very-light-gray);
  text-align: center;
  margin-top: 50px;
}

p {
  font-size: 12px;
  color: var(--very-light-gray);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bright-orange);
  border-radius: 10px 0 0 10px;
}

.col2 {
  background-color: var(--dark-cyan);
}

.col3 {
  background-color: var(--very-dark-cyan);
  border-radius: 0 10px 10px 0;
}

.attribution {
  margin-top: 20px;
}

.btn-primary {
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  border: none;
  background-color: var(--very-light-gray);
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.btn1 {
  color: var(--bright-orange);
}

.btn2 {
  color: var(--dark-cyan);
}

.btn3 {
  color: var(--very-dark-cyan);
}
