:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /*Colors */

  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  /*par*/
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  /*bg*/
  --very-light-gray: hsl(0, 0%, 95%);

  /*Typography */

  --title-ffamily: "Big Shoulders Display", cursive;
  --main-ffamily: "Lexend Deca", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--very-light-gray);
  min-height: 100vh;
  font-family: var(--main-ffamily);
}
h1 {
  font-family: var(--title-ffamily);
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--very-light-gray);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -80px;
}

p {
  font-size: 12px;
  color: var(--very-light-gray);
  margin-bottom: 40px;
  opacity: 0.75;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 100%;
  padding: 40px;
}

.col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bright-orange);
  border-radius: 5px 0 0 5px;
}

.col2 {
  background-color: var(--dark-cyan);
}
.col2 h1 {
  margin-left: -100px;
}

.col3 {
  background-color: var(--very-dark-cyan);
  border-radius: 0 5px 5px 0;
}

.attribution {
  margin-top: 20px;
}

.attribution a {
  color: var(--bright-orange);
  text-decoration: none;
  margin-right: 10px;
}

.btn-primary {
  position: absolute;
  top: 45%;

  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  border: none;
  background-color: var(--very-light-gray);
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: transparent;
  border: 2px solid var(--transparent-white);
  color: white;
  transition: background-color 0.3s;
}

.btn1 {
  color: var(--bright-orange);
}

.btn2 {
  color: var(--dark-cyan);
}

.btn3 {
  color: var(--very-dark-cyan);
}

.icon {
  margin-left: -100px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .row {
    flex-direction: column;
  }
  .col {
    width: 250px;
    height: 250px;
    padding: 20px 40px 20px 40px;
  }
  .col1 {
    border-radius: 5px 5px 0 0;
  }
  .col3 {
    border-radius: 0 0 5px 5px;
  }
  .btn-primary {
    position: relative;
  }
  .icon {
    width: 45px;
    margin-top: 25px;
    margin-left: -125px;
  }
  .attribution {
    text-align: center;
  }
}
